$pagewidth:100%;
$n:none;
$t:text-decoration;
*{
    margin: 0;
    padding: 0;
    text-decoration: $n;
}
a{
    text-decoration: $n;
}
li{
    list-style: $n;
}
.wrap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrap #header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 999;
}
.wrap #header .header-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-wrap-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    list-style: $n;
}
.header-wrap-menu a{
    padding: 0 10px;
    color: black;
}
// 搜索框
.header-wrap-search{
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 170px;
    height: 30px;
    position: relative;
}
.header-wrap input{
    border: none;
    background: transparent;
}
.header-wrap-search a{
    position: absolute;
    right: 0;
    top: 0;
}
// 用户
.header-wrap-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-wrap-user .user-dropdown{
    list-style: $n;
}  
.header-wrap-user .user-dropdown a{
    text-decoration: $n;
    color: black;
    display: $n;
} 

//头部底部容器，二级菜单，鼠标移入显示
.header-wrap-sub{
    display: $n;
}


//轮播图
#banner{
    width: $pagewidth;
    height: 670px;
    overflow: hidden;
    position: relative;
}
.banner-list{ 
    list-style: $n;
}
#banner .banner-list .bannerpic{
    float: left;
}
#banner .bannerpic img{
    width: $pagewidth;
    height: 670px;
    transform: scaleX(1.7);
}

//轮播图底部按钮
#banner .banner-btn{
    position: absolute;
    width: 240px;
    height: 20px;
    left: 40%;
    // margin-left: -90px;
    bottom: 5px;
}
#banner .banner-btn li{
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 5px;
    text-indent: -99999px;
    cursor: pointer;
}
#banner .banner-btn li:active{
    background: skyblue;
}
#banner #right,#left {
    font-size: 70px;
    color: rgb(95, 40, 247);
    font-family: verdana;
    position: absolute;
    text-decoration: none;
    top: 300px;
    // display: none;
}
#left {
    left: 20px;
}

#right {
    right: 20px;
}
#left:hover {
    color: #000;
}
#right:hover{
    color: #000;
}

//内容
.container-act{
    width: $pagewidth;
    height: 278px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.container-act li{
    padding-top: 45px;;
    list-style: $n;
}
.container-act li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #ccc;
}
.container-act li img{
    width: 130px;
    height: 130px;
}
//手机
.container-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-phone-title{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
    background: gray;
}
.container-phone-pic{
    width: $pagewidth;
    overflow: hidden;
}
.container-phone-pic img{
    width: $pagewidth;
    height: 450px;
    transform: scaleX(1.7);
}
.container-phone-pic img:hover{
    opacity: 0.8;
}
//手机商品列表
.container-phone-list{
    width: $pagewidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.phone-list-wrap{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.phone-list-wrap li{
    list-style: $n;
}
.phone-list-wrap li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.phone-list-wrap .big{
    width: 50%;

}
.phone-info{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.phone-list-wrap .big img{
    width: 460px;
    height: 460px;
}

.phone-list-wrap .phone-info h4{
    font-size: 16px;
    color: #333;
}
.phone-info .phone-infodesc{
    font-size: 14px;
    color: #333;
}
.phone-info .price{
    font-size: 14px;
    color: #c00;
}

.phone-list-wrap .big h4{
    font-size: 28px;
    color: #333;
}
.phone-list-wrap .big .phone-infodesc{
    font-size: 18px;
    color: #333;
}
.phone-list-wrap .big .price{
    font-size: 22px;
    color: #c00;
}
.phone-list-wrap .phone3,.phone4,.phone5,.phone6{
    width: 25%;
}

.phone3 img{
    width: 230px;
}
.phone4 img{
    width: 230px;
}
.phone5 img{
    width: 230px;
}
.phone6 img{
    width: 230px;
}

//魅族声学
.container-earphone{
    width: $pagewidth;
    margin-bottom: 50px;
}
.container-earphone-title h2{
    text-align: center;
}
.container-earphone-pic{
    overflow: hidden;
}
.container-earphone-pic img{
    width: $pagewidth;
    height: 450px;
    transform: scaleX(1.8);
}
.container-earphone-list{
    width: $pagewidth;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.earphone-list-wrap{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.earphone-list-wrap li{
    width: 25%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.earphone-list-wrap li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.earphone-list-wrap li img{
    width: 230px;
    height: 230px;
}
.earphone-list-wrap .left img{
    width: 330px;
    height: 335px;
}
.earphone-list-wrap .left .earphoneinfo{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.earphone-list-wrap .earphoneinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.earphoneinfo .earphoneinfo-name{
    font-size: 16px;
    color: #333;
    margin-bottom: 2px;
}
.earphoneinfo .earphoneinfo-desc{
    font-size: 14px;
    color: #999;
}
.earphoneinfo .earphoneinfo-price{
    font-size: 22px;
    color: #c00;
}

.earphone-list-wrap .left .earphoneinfo .earphoneinfo-name{
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
}
.earphone-list-wrap .left .earphoneinfo .earphoneinfo-desc{
    font-size: 14px;
    color: #fff;
}
.earphone-list-wrap .left .earphoneinfo .earphoneinfo-price{
    font-size: 24px;
    color: orange;
    font-weight: bold;
}


//社区热帖
.community-list-wrap{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.community-list-wrap li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 388px;
    margin-bottom: 9px;
    background-color: #fff;
    overflow: hidden;
}
.community-list-wrap li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.community-list-wrap li a>img{
    width: 300px;
    height: 190px;
    margin: 0 auto;
}
//社区用户信息
.community-user-info{
    height: 42px;
    line-height: 42px;
}
.community-list-wrap .community-user-info img{
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    box-shadow: 1px 1px 1px 1px #eee;
}
.community-user-info .username{
    font-size: 14px;
    color: #000;
    text-align: left;
}
.community-list-wrap p{
    font-size: 16px;
    line-height: 27px;
    height: 66px;
    overflow: hidden;
    color: #333;
}
.community-list-wrap li a>span{
    font-size: 10px;
    color: #999;
}