$pagewidth:100%;
$n:none;
$t:text-decoration;
html,body{
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: $n;
    list-style: $n;
}
// .wrap{
//     display:flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
.wrap #header{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 999;
    position: relative;
    background: linear-gradient(top,#42a4e0,#2e88c0);
}
.wrap #header .header-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-wrap-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    list-style: $n;
}
.header-wrap-menu a{
    padding: 0 10px;
    color: black;
}
// 搜索框
.header-wrap-search{
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 170px;
    height: 30px;
    position: relative;
}
.header-wrap input{
    border: none;
    background: transparent;
}
.header-wrap-search a{
    position: absolute;
    right: 0;
    top: 0;
}

.pic{
    // position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 350px;
    img{
        height: 350px;
        transform: scale(1.9);
    }
}
.btn-wrap{
    padding: 60px 0 15px 0;
    background: #f4f4f4;
    position: relative;
    :nth-child(1){
        position: absolute;
        right: 200px;
        bottom: 15px;
    }
    :nth-child(2){
        position: absolute;
        right: 135px;
        bottom: 15px;
    }
    :nth-child(3){
        position: absolute;
        right: 70px;
        bottom: 15px;
    }
    button{
        border:1px solid #1e7db9;
        background: linear-gradient(top,#42a4e0,#2e88c0);
    }
}

.list-wrap{
    width: $pagewidth;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
    background: #f4f4f4;
}
.list-wrap .q{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    // background-color: violet;
    li{
        width: 32%;
        height: 340px;
        margin-bottom: 10px;
        background: #fff;
        border: 1px solid #ccc;
        
    }
        a{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
            p:nth-child(2){
                font-size: 16px;
                color: #000;
            }
            p:nth-child(3){
                color: red;
                align-self: flex-start;
            }
            p:nth-child(4){
                font-size: 12px;
                color: sandybrown;
                align-self: flex-end;
                justify-self: flex-end;
            }
            img{
                width: 200px;
                height: 200px;
            }
}
.list-wrap .q li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.pagewrap{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}




#footer{
    width: $pagewidth;
    background-color: #fff;
    font-size: 14px;
    color: #515151;
}
#footer .footer-link{
    padding: 48px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer .footer-wrap{
    width: 90%;
}
.footer-wrap .footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-wrap .footer-service{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-wrap .footer-service li{
    margin: 0 10px;
}
.footer-service li a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-service li a img{
    width:50px;
    height: 39px;
    margin: 0 50px;
}
.footer-service li a span{
    font-size: 12px;
    color: #999;
}
#footer .online{
    width: 155px;
    height: 103px;
}

//底部版权
.footer-co-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-co-wrap-left ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-end;
    }
    
}
